BODY{BACKGROUND-COLOR:GREY;BORDER: 2PX SOLID BLACK;}
#CONTAINER
{BACKGROUND-COLOR:WHITE;
WIDTH:800PX;
MARGIN-LEFT:AUTO;
MARGIN-RIGHT:AUTO;}
#HEADER
{BACKGROUND-COLOR:BLUE;
TEXT-ALIGN:CENTER;}
#CONTENT
{PADDING:20PX}
#NAV
{WIDTH:140PX;
BORDER: 2PX SOLID BLUE;
FLOAT:LEFT;}
#MAIN
{wIDTH:600PX;
float:RIGHT;}
#FOOTER
{CLEAR:BOTH;}
H1{COLOR:RED;}
